/* navbar */
.navbar-collapse {
  transition: all 0.1s;
}

/* loader */
.loader-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(200, 200, 200, 0.2);
  backdrop-filter: blur(2px);
  z-index: 100;
}

/* movie-card */
.movie-card {
  transition: all 0.1s;
}

.movie-card:hover {
  scale: 1.02;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.movie-card > .card-img {
  aspect-ratio: 2/3;
}

.movie-card .movie-title,
.movie-card .movie-genre,
.movie-card .movie-director {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card .btn {
  width: 100px;
  transition: width 0.5s cubic-bezier(0.1, 0.8, 0.3, 1);
}

.movie-card .btn:hover {
  width: 100%;
}

/* details-page poster */
.poster-container {
  aspect-ratio: 2/3;
  display: flex;
  justify-content: center;
}

.poster-container > img {
  aspect-ratio: 2/3;
  box-shadow: 0px 0px 10px;
}

/* reviews-accordion */
#reviewsAccordion {
  max-height: 300px;
  overflow-y: auto;
}

#reviewsAccordion .review-username {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#reviewsAccordion .accordion-button:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* reviews-form */
#reviewsForm {
  width: 100%;
}

/* media utils */
@media (min-width: 576px) {
  .movie-info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .notification-container > .alert {
    width: 80%;
  }
}

@media (min-width: 768px) {
  #reviewsForm {
    width: 85%;
  }

  .notification-container > .alert {
    width: 75%;
  }
}

@media (min-width: 992px) {
  #reviewsForm {
    width: 65%;
  }

  .notification-container > .alert {
    width: 45%;
  }
}
