.movie-card {
  background-color: #f7f8f9;
}

.movie-card > .card-img {
  aspect-ratio: 2/3;
}

.poster-container {
  aspect-ratio: 2/3;
}

.poster-container > img {
  aspect-ratio: 2/3;
}

@media (min-width: 576px) {
  .movie-info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
  }
}
