.navbar-collapse {
  transition: all 0.1s;
}

.movie-card {
  transition: all 0.1s;
}

.movie-card:hover {
  scale: 1.02;
}

.movie-card > .card-img {
  aspect-ratio: 2/3;
}

.movie-card .movie-title,
.movie-card .movie-genre,
.movie-card .movie-director {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card .btn {
  width: 100px;
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}

.movie-card .btn:hover {
  width: 100%;
}

.poster-container {
  aspect-ratio: 2/3;
  display: flex;
  justify-content: center;
}

.poster-container > img {
  aspect-ratio: 2/3;
  box-shadow: 0px 0px 10px;
}

#reviewsAccordion {
  max-height: 300px;
  overflow-y: auto;
}

#reviewsAccordion .review-username {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loader-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(200, 200, 200, 0.2);
  backdrop-filter: blur(2px);
  z-index: 100;
}

#reviewsForm {
  width: 100%;
}

@media (min-width: 576px) {
  .movie-info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  #reviewsForm {
    width: 85%;
  }
}

@media (min-width: 992px) {
  #reviewsForm {
    width: 75%;
  }
}
